body {
  background-color: #2f3640;
  color: azure;
  margin: 0;
  padding: 0;
}
.container {
  height: 90vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 10vh;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
}

h2 {
  font-style: italic;
  font-family: "Courier New", Courier, monospace;

  justify-content: center;
  text-align: center;
}
span.text {
  margin-top: 10px;
}
.logo {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.137) 0 5px 10px 0;
  margin-bottom: 8vh;
}

.btn-join {
  min-width: 300px;
  background: #29cb64;
  font-size: x-large;
  padding: 17px;
  border-radius: 100px;
  color: #fff;
  text-align: center;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.137) 0 5px 10px 0;
  text-decoration: none;
  margin-bottom: 2vh;
}
.link-btns {
  margin-top: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.btn-link {
  background-color: #22272f;
  border-radius: 100px;
  margin: 0.2rem;
  padding: 0.2rem 1rem;
  min-width: 100px;
  height: 30px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-size: small;

}
.btn-link p {
  margin: 0;
}
.btn-link img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
